body {  
    padding: 0;  
    margin: 0;  
    height: 400px;  
    width: 300px;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    gap: 20px; /* adjust the gap between elements */  
  }  
    
  h1, p, button {  
    margin: 0; /* remove default margins */  
  } 
.btn{
  width: 120px;
  height: 40px;
  background-color: rgb(83, 155, 221);
  text-decoration: black;
  font-size: 15px;
  border: 1;
}
.container{
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    margin: 50px;
}

.btn:hover{
  background-color: rgb(183, 214, 243);;
}